.swiper-initialized:not(.no-opacity) {
  padding-bottom: 60px !important;
  mask-image: linear-gradient(transparent,
          black 20%,
          black 80%,
          transparent 100%);
  -webkit-mask-image: linear-gradient(to right ,transparent,
          black 20%,
          black 80%,
          transparent 100%);
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 15px !important;
  background: #007aff !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: #BFDBFE !important;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: 0 !important;
}
