h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    text-align: center;
}

h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    text-align: center;
    color: #1E293B;
}